<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dvm.order">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="@string/google_key" />-->

<!--            Typically we shouldn't store key in public repository,-->
<!--            so I put it to local.properties which is in gitignore file.-->
<!--            However this is just a sample project and a key is for learning purposes, -->
<!--            so i put it here to make this app easy to use and check.-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCmDIaA1AZCqGm1LUbSJnXVsZFvPGJBVeI" />
    </application>

</manifest>